
.admin a {
    color: white;
    text-decoration: none;
}
.sena-navegador {
    background-color: #389045;
    padding: 1rem;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.admin{
    color: #389045;
    font-size: 1.5rem;
    font-weight: 700;
}

.iconos{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.item {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: 500;
}

.item:hover {
    background: rgba(255,255,255,0.15);
    transform: translateY(-2px);
}

