.texto{
    text-align: center;
}
.columnas{
    height: 7px;
}
.tabla {
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
   
}

.columnas {
    text-align: center;
    background-color: lightgreen;
    text-align: left;
    font-weight: 600;
}

.tx{
    text-align: center;
    border: 1px solid black;
    
}
.fil{
    text-align: center;
    border: 1px solid black;
}